<button (click)="cambiarOrden('>')">Ordenar de mayor a menor</button>
<button (click)="cambiarOrden('<')">Ordenar de mayor a menor</button>

<div *ngFor="let product of products | order:ordenacion" class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="product.image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.price }} €</p>
                <a [routerLink]="['/info-product', product.id]">Más info</a>
            </div>
        </div>
    </div>
</div>
