.w3-panel{
    width: 100% !important;
    margin-left: 10 px;
    margin-right: 10px;
  }

  img {
    max-width: 80px; /* Ajusta el tamaño máximo de la bandera según tus necesidades */
    height: auto;
  }